$primary: #0070b0;
$white: #fff;
$black: #000;
$light-grey: #eee;
$dark-grey: #666;

$notification-success-background: #cfc;
$notification-success-border: #080;
$notification-error-background: #ffb5b5;
$notification-error-border: #f00;
$notification-warn-background: #ffb;
$notification-warn-border: #000;