$max-content-width: 900px;

* {
	box-sizing: border-box;
}

body {
	background-color: $white;
	color: $black;
	font-family: $font-family;
	font-size: $font-size;
	margin: 0;
	padding: 0;
}

h1,
h2 {
	margin: 0;
}

.accessible-hidden {
	position: absolute;
	opacity: 0;
}

.setup {
	background-color: $primary;
	color: $white;
}

.results,
.setup {
	padding: 1em;
}
