<span  [ngSwitch]="svgIcon">
	<app-svg-animation *ngSwitchCase="'Animation'"></app-svg-animation>
	<app-svg-audio *ngSwitchCase="'Audio'"></app-svg-audio>
	<app-svg-forms *ngSwitchCase="'Forms'"></app-svg-forms>
	<app-svg-images *ngSwitchCase="'Images'"></app-svg-images>
	<app-svg-modals *ngSwitchCase="'Modals'"></app-svg-modals>
	<app-svg-timed-components *ngSwitchCase="'Timed'"></app-svg-timed-components>
	<app-svg-translations *ngSwitchCase="'Translations'"></app-svg-translations>
	<app-svg-video *ngSwitchCase="'Video'"></app-svg-video>
</span>