<fieldset class="content-selection">
	<legend>What kind of content are you checking?</legend>
	
	<div class="content-selection-list">
		
		<span class="content-selection-item">
			<input type="checkbox" name="content-selection" value="animation" id="select-animation"/>
			<label for="select-animation">
				
				<app-svg-animation></app-svg-animation>
				
				<span class="content-selection-label">Animation</span>
			</label>
		</span>
		
		<span class="content-selection-item">
			<input type="checkbox" name="content-selection" value="audio" id="select-audio"/>
			<label for="select-audio">
				
				<app-svg-audio></app-svg-audio>
				
				<span class="content-selection-label">Audio</span>
			</label>
		</span>
		
		<span class="content-selection-item">
			<input type="checkbox" name="content-selection" value="forms" id="select-forms"/>
			<label for="select-forms">
				
				<app-svg-forms></app-svg-forms>

				
				<span class="content-selection-label">Forms</span>
			</label>
		</span>
		
		<span class="content-selection-item">
			<input type="checkbox" name="content-selection" value="images" id="select-images"/>
			<label for="select-images">
				
				<app-svg-images></app-svg-images>
				
				<span class="content-selection-label">Images</span>
			</label>
		</span>
		
		<span class="content-selection-item">
			<input type="checkbox" name="content-selection" value="modals" id="select-modals"/>
			<label for="select-modals">
				
				<app-svg-modals></app-svg-modals>
				
				<span class="content-selection-label">Modals</span>
			</label>
		</span>
		
		<span class="content-selection-item">
			<input type="checkbox" name="content-selection" value="time" id="select-time"/>
			<label for="select-time">
				
				<app-svg-timed-components></app-svg-timed-components>
				
				<span class="content-selection-label">Timed Components</span>
			</label>
		</span>
		
		<span class="content-selection-item">
			<input type="checkbox" name="content-selection" value="translations" id="select-translations"/>
			<label for="select-translations">
				
				<app-svg-translations></app-svg-translations>
				
				<span class="content-selection-label">Translations</span>
			</label>
		</span>
		
		<span class="content-selection-item">
			<input type="checkbox" name="content-selection" value="video" id="select-video"/>
			<label for="select-video">
				
				<app-svg-video></app-svg-video>
				
				<span class="content-selection-label">Video</span>
			</label>
		</span>
		
	</div>
</fieldset>