<fieldset class="content-selection">
	<legend>What kind of content are you checking?</legend>
	
	<div class="content-selection-list">
		
		<span class="content-selection-item" *ngFor="let contentType of getContentTypes()">
			<input type="checkbox" name="content-selection" value="{{ contentType }}" id="select-{{ contentType }}" class="accessible-hidden"/>
			<label for="select-{{ contentType }}">
				
				<app-svg-content-types svgIcon="{{ contentType }}"></app-svg-content-types>
				
				<span class="content-selection-label">{{ contentType }}</span>
			</label>
		</span>
	</div>
</fieldset>