<fieldset class="content-selection">
	<legend>What kind of content are you checking?</legend>
	
	<p>Some guidelines only apply to some types of content. If you're not using any of these specific types, just continue without selecting a type.</p>
	
	<div class="content-selection-list">
		
		<span class="content-selection-item" *ngFor="let contentType of getAllContentTypes()" title="{{ contentType }}">
			<input 
				type="checkbox"
				name="content-selection"
				value="{{ contentType }}"
				id="select-{{ contentType }}"
				class="accessible-hidden"
				(change)="toggleSelectedType($event, contentType)"
				aria-controls="guidelines"
			/>
			
			<label for="select-{{ contentType }}">
				
				<app-svg-content-types svgIcon="{{ contentType }}"></app-svg-content-types>
				
				<span class="content-selection-label">{{ contentType }}</span>
			</label>
		</span>
	</div>
	
	<button type="button" (click)="next()">Next</button>
</fieldset>