.compliance-level {
	display: inline-block;
	
	.compliance-level-list {
		display: flex;
		margin: 0 0 1em 0;
	}
	
	label {
		@include transition($quick-animation-duration);
		align-items: center;
		border: 2px solid $light-grey;
		border-radius: 50%;
		cursor: pointer;
		display: flex;
		height: 3em;
		justify-content: center;
		margin-right: .5em;
		width: 3em;
		
		&:hover {
			background-image: repeating-linear-gradient(
				45deg,
				transparent,
				transparent 10px,
				rgba($black, .2) 10px,
				rgba($black, .2) 20px
			);
		}
	}
	
	input[type=radio]:checked + label {
		background-color: $light-grey;
		color: $primary;
		
		&:hover {
			background-image: repeating-linear-gradient(
				45deg,
				transparent,
				transparent 10px,
				rgba($black, .15) 10px,
				rgba($black, .15) 20px
			);
			color: $black;
		}
	}
	
	input[type=radio]:focus ~ label {
		box-shadow: 0 0 10px $white, 0 0 5px $white, inset 0 0 10px $white;
	}
}
