.content-selection {
	margin: 1em 0;
	max-width: $max-content-width;
	
	.content-selection-list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 0 1em 0;
		padding: 0;
	}
	
	.content-selection-item {
		color: $white;
		flex: 0 0 100%;
		list-style: none;
		margin: .5em 0.25em 0 auto;
		
		@media(min-width: 460px) {
			flex: 0 0 47%;
		}
		
		@media(min-width: 600px) {
			flex: 1 0 30%;
		}
		
		@media(min-width: 800px) {
			flex: 1 0 20%;
		}
	}
	
	label {
		@include transition($quick-animation-duration);
		align-items: center;
		border: 2px solid $light-grey;
		cursor: pointer;
		display: flex;
		padding: .25em .5em;
		
		&:hover{
			background-image: repeating-linear-gradient(
				45deg,
				transparent,
				transparent 10px,
				rgba($black, .2) 10px,
				rgba($black, .2) 20px
			);
		}
	}
	
	input[type=checkbox]:checked ~ label {
		background-color: $light-grey;
		color: $primary;
		
		&:hover{
			background-image: repeating-linear-gradient(
				45deg,
				transparent,
				transparent 10px,
				rgba($black, .15) 10px,
				rgba($black, .15) 20px
			);
			color: $black;
			
			svg {
				stroke: $black;
			}
			
			.filled {
				fill: $black;
			}
		}
		
		svg {
			stroke: $primary;
		}
		
		.filled {
			fill: $primary;
		}
	}
	
	input[type=checkbox]:focus ~ label {
		box-shadow: 0 0 10px $white, 0 0 5px $white, inset 0 0 10px $white;
	}
	
	svg {
		height: 2.5em;
		stroke: $white;
		stroke-width: 10;
		width: auto;
		
		.filled {
			fill: $white;
			stroke-width: 0;
		}
	}
	
	.content-selection-label {
		font-size: $label-font-size;
		max-width: 100%;
		text-align: center;
		width: 100%;
	}
}
