.content-selection {
	margin: 1em 0;
	max-width: $max-content-width;
	
	.content-selection-list {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-evenly;
		margin: 0;
		padding: 0;
	}
	
	.content-selection-item {
		color: $white;
		flex: 1 1 100%;
		list-style: none;
		margin: 1em .25em;
		text-align: center;
	}
	
	label {
		@include transition($quick-animation-duration);
		border: 2px solid $light-grey;
		cursor: pointer;
		display: block;
		padding: .5em;
		
		&:hover{
			background-image: repeating-linear-gradient(
				45deg,
				transparent,
				transparent 10px,
				rgba($black, .2) 10px,
				rgba($black, .2) 20px
			);
		}
	}
	
	input[type=checkbox]:checked ~ label {
		background-color: $light-grey;
		color: $primary;
		
		&:hover{
			background-image: repeating-linear-gradient(
				45deg,
				transparent,
				transparent 10px,
				rgba($black, .15) 10px,
				rgba($black, .15) 20px
			);
			color: $black;
			
			svg {
				stroke: $black;
			}
			
			.filled {
				fill: $black;
			}
		}
		
		svg {
			stroke: $primary;
		}
		
		.filled {
			fill: $primary;
		}
	}
	
	input[type=checkbox]:focus ~ label {
		box-shadow: 0 0 10px $white, 0 0 5px $white, inset 0 0 10px $white;
	}
	
	svg {
		height: auto;
		stroke: $white;
		stroke-width: 8;
		width: 85%;
		
		.filled {
			fill: $white;
			stroke-width: 0;
		}
	}
	
	.content-selection-label {
		display: block;
		font-size: 14px;
		max-width: 100%;
		text-align: center;
		width: 100%;
	}
}
