.tick-checkbox {
	border: 2px solid;
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	height: 1.5em;
	margin-right: .5em;
	position: relative;
	vertical-align: middle;
	width: 1.5em;
	
	.accessible-hidden {
		height: 1.5em;
		overflow: hidden;
		width: 1.5em;
	}
}

input[type=checkbox]:checked + .tick-checkbox:after {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='225' height='225' viewBox='0 0 225 225' fill='%23" + str-slice("#{$primary}", 2) + "'%3E%3Cpath d='m209.8 0.1c-11 0.8-16.6 2.1-23.2 5.3-4 1.9-9.2 5.1-13.9 8.6-3.4 2.5-4.8 3.8-5.4 5.1-0.8 1.7-2.4 3.8-6.9 9.1-13 15-37.7 46.8-57.9 74.5-9.9 13.5-13.4 18.7-17 24.5-2.3 3.8-2.9 4.8-4.8 7.2-1.6 2-5.3 7.4-9.6 13.8-6 9-8.7 12.6-11.7 16.2-2.2 2.5-1.9 2.5-3.1 0.8-1.2-1.8-1.9-3.2-3.4-6.6-3.8-8.6-9.4-20.1-11.2-22.7-2.7-3.9-5.3-5-11.5-4.8-4.8 0.2-8.7 1.2-14.1 3.8-7 3.4-12.8 8.1-14.8 12.2-2.2 4.5-1.3 10.1 5.5 31.7 6.4 20.6 9.6 28.7 13.6 35.4 2.1 3.4 4.7 7.4 5.1 7.7 1 0.8 4.2 1.7 9.3 2.5 6.6 1 12.8 1 19.3 0 5.5-0.9 9.1-2.3 10.9-4.1 2.7-2.8 7.2-8.8 17.1-22.9 6.2-8.9 9.4-13.2 10.8-14.9 1.4-1.7 1.9-2.4 4-5.8 3-5 7.1-10.9 17.5-25.1 21.1-29 47.6-63.7 53.4-70.1 1.9-2 2.3-2.5 6-7.6 4.2-5.7 6.2-8.4 8.1-10.3 2.7-2.8 6.2-7 13.5-16 5.9-7.3 11-13.4 13.8-16.4 5.8-6.4 13.5-17.1 15.3-21.4 1.3-3.2 1-5.5-0.8-7.3-0.8-0.8-2.5-1.6-4-1.8-1.4-0.3-6.9-0.4-9.6-0.2z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: 100%;
	content: "";
	height: 1.5em;
	left: .4em;
	position: absolute;
	top: -.25em;
	width: 1.5em;
}

input[type=checkbox]:focus + .tick-checkbox {
	box-shadow: 0 0 10px $primary, 0 0 5px $primary;
}

legend {
	font-size: $label-font-size;
}

textarea {
	&:focus {
		box-shadow: 0 0 10px $primary, 0 0 5px $primary;
	}
}

button {
	appearance: none;
	background-color: $white;
	border: none;
	font-size: 1em;
	padding: 1em;
	
	&:focus {
		box-shadow: 0 0 10px $white, 0 0 5px $white;
	}
}