.guideline-list {
	list-style: none;
	max-width: 1000px;
	padding: 0;
	
	.guideline {
		border: 1px solid;
		display: flex;
		margin-bottom: .5em;
		padding: .5em;
	}
	
	.guideline-details {
		width: 100%;
		
		.short-description {
			cursor: pointer;
			font-weight: bold;

			&:focus {
				box-shadow: 0 0 10px $primary, 0 0 5px $primary;
				outline: none;
			}
		}
		
		.guideline-level {
			float: right;
		}
	}

	.long-description {
		margin-top: 1em;
		
		ul {
			list-style-type: disc;
		}
	}
	
	.code-snippets {
		background-color: $light-grey;
		border: 1px solid $primary;
		padding: .5em;
		
		.snippet-description {
			display: block;
		}
		
		.snippet-code {
			background-color: $white;
			border: 1px solid $dark-grey;
			display: block;
			font-family: monospace;
			font-size: $font-size;
			height: 6em;
			margin: .25em 0 0;
			overflow-wrap: break-all;
			padding: .25em;
			width: 100%;
			word-break: break-all;
			word-wrap: anywhere;
		}
		
		.copy-code {
			border: 1px solid;
			font-size: $font-size;
			margin-bottom: 1em;
			margin-top: .25em;
			padding: .25em;
		}
	}
}



