<section class="guidelines" aria-relevant="all" aria-live="polite" id="guidelines" aria-labelledby="guidelines-heading">
	<h2 id="guidelines-heading" *ngIf="getTotalGuidelines() > 0">You need to test these things:</h2>
	
	<app-percent-complete [total]="getTotalGuidelines()" [complete]="getTotalCheckedGuidelines()"></app-percent-complete>
	
	<section aria-labelledby="guidelines-perceivable-heading" aria-describedby="guidelines-perceivable-description" *ngIf="hasGuidelinesForLevel(1)">
		<h3 id="guidelines-perceivable-heading">Perceivable</h3>
		<p id="guidelines-perceivable-description">People will be perceiving your content in a variety of ways, these guidelines will help ensure they can.</p>
		<ol class="guideline-list" *ngIf="hasGuidelinesForLevel(1)">
			<li *ngFor="let guideline of guidelines | guidelineLevel:{level: '1'}">
				<app-guideline [guideline]="guideline"></app-guideline>
			</li>
		</ol>
	</section>
	
	<section aria-labelledby="guidelines-operable-heading" aria-describedby="guidelines-operable-description" *ngIf="hasGuidelinesForLevel(2)">
		<h3 id="guidelines-operable-heading">Operable</h3>
		<p id="guidelines-operable-description">These guidelines ensure people can interact with your interface, regardless of their exact means of interaction.</p>
		<ol class="guideline-list" *ngIf="hasGuidelinesForLevel(2)">
			<li *ngFor="let guideline of guidelines | guidelineLevel:{level: '2'}">
				<app-guideline [guideline]="guideline"></app-guideline>
			</li>
		</ol>
	</section>
	
	<section aria-labelledby="guidelines-understandable-heading" aria-describedby="guidelines-understandable-description" *ngIf="hasGuidelinesForLevel(3)">
		<h3 id="guidelines-understandable-heading">Understandable</h3>
		<p id="guidelines-understandable-description">Your users should be able to understand what they're being presented with, and should understand how to use the interface available to them.</p>
		<ol class="guideline-list" *ngIf="hasGuidelinesForLevel(3)">
			<li *ngFor="let guideline of guidelines | guidelineLevel:{level: '3'}">
				<app-guideline [guideline]="guideline"></app-guideline>
			</li>
		</ol>
	</section>
	
	<section aria-labelledby="guidelines-robust-heading" aria-describedby="guidelines-robust-description" *ngIf="hasGuidelinesForLevel(4)">
		<h3 id="guidelines-robust-heading">Robust</h3>
		<p id="guidelines-robust-description">Content should be robust enough to correctly interpreted by the presenting technology (e.g. browser) and should allow a user to manage actions which change state.</p>
		<ol class="guideline-list" *ngIf="hasGuidelinesForLevel(4)">
			<li *ngFor="let guideline of guidelines | guidelineLevel:{level: '4'}">
				<app-guideline [guideline]="guideline"></app-guideline>
			</li>
		</ol>
	</section>
	
</section>