<li class="guideline">
	<input type="checkbox" name="guideline" value="{{ guideline.guidelineNumber }}" class="accessible-hidden" id="guideline-{{ guideline.guidelineNumber }}"/>
	<label for="guideline-{{ guideline.guidelineNumber }}" class="tick-checkbox">
		<span class="accessible-hidden">Completed guideline {{ guideline.guidelineNumber }} {{ guideline.guidelineName }}</span>
	</label>
	
	<p class="guideline-name">{{ guideline.guidelineNumber }} {{ guideline.guidelineName }}</p>

	<details>
		<summary class="short-description">{{ guideline.shortDescription }}</summary>
		<div class="long-description" [innerHTML]="guideline.longDescription"></div>
		
		<p *ngIf="guideline.jsSnippets.length > 0">You can run these snippets in your browser to help identify failing code:</p>
		<ul class="js-snippets" *ngIf="guideline.jsSnippets.length > 0">
			<li *ngFor="let snippet of guideline.jsSnippets">{{ snippet }}</li>
		</ul>
	</details>
</li>