<article class="guideline" attr.aria-labelledby="{{ guideline.getLabel() }}">
	<div class="guideline-checkbox">
		<input
			type="checkbox"
			name="guideline"
			value="{{ guideline.guidelineNumber }}" 
			class="accessible-hidden"
			id="guideline-{{ guideline.guidelineNumber }}"
		/>
		<label for="guideline-{{ guideline.guidelineNumber }}" class="tick-checkbox">
			<h2 class="accessible-hidden">Completed guideline {{ guideline.guidelineNumber }} {{ guideline.guidelineName }}</h2>
		</label>
	</div>

	<details class="guideline-details">
		<summary class="short-description" id="{{ guideline.getLabel() }}">{{ guideline.guidelineNumber }} {{ guideline.guidelineName }}</summary>
		<p>{{ guideline.shortDescription }}</p>

		<div class="long-description" [innerHTML]="guideline.longDescription"></div>

		<p *ngIf="guideline.codeSnippets.length > 0">You can run these snippets in your browser to help identify failing code:</p>
		<dl class="code-snippets" *ngIf="guideline.codeSnippets.length > 0">
			<span *ngFor="let snippet of guideline.codeSnippets">
				<dt class="snippet-description" [innerHTML]="snippet.description"></dt>
				<dd class="snippet-code">
					<div [innerHTML]="snippet.code"></div>
					<button type="button" class="copy-code" (click)="copyCode($event, snippet)">
						<span class="accessible-hidden">Copy code to clipboard</span>
					</button>
				</dd>
			</span>
		</dl>
	</details>
</article>