.help {
	a {
		color: $primary;
	}

	ul {
		padding-left: 1.5em;
	}

	dl {
		dt {
			font-weight: bold;
		}

		dd {
			margin-bottom: 1em;
		}
	}

	header {
		background-color: $primary;
		color: $white;
		padding: 1em;

		h1 {
			font-size: 24px;
		}

		p {
			margin: 0;
		}
	}

	main {
		padding: 1em;

		section {
			border-top: 1px solid $medium-grey;
			margin-top: 1em;
			padding-top: 1em;
		}
	}
}