<fieldset class="compliance-level">
	<legend>Desired compliance level:</legend>
	
	<div class="compliance-level-list">
		 <span *ngFor="let level of getAllGuidelineLevels()">
			<input 
				 type="radio" 
				 name="compliance-level" 
				 value="{{ level }}" id="compliance-level-{{ level }}"
				 [checked]="level === defaultLevel"
				 class="accessible-hidden"
				 (change)="toggleSelectedComplianceLevel($event, level)"
			/>
			<label for="compliance-level-{{ level }}">{{ level }}</label>
		</span>
	</div>
</fieldset>