<form>
	<div class="setup">
		<h1>Accessibility Testing Checklist Tool</h1>
		
		<nav [attr.aria-label]="'step-label'" class="steps step-{{ currentStep }}">
			<p hidden id="step-label">Step {{ currentStep }} of {{ totalSteps }}</p>
			<ul>
				<ng-container *ngFor="let step of getStepsAsArray()">
					<a *ngIf="step < currentStep" href="#" class="step" (click)="goBackToStep(step, $event)">{{ step }}</a>
					<li *ngIf="step >= currentStep" [attr.aria-current]="step == currentStep ? 'step' : null" class="step">{{ step }}</li>
				</ng-container>
			</ul>
		</nav>

		<app-toolbar *ngIf="currentStep < totalSteps" (saveState)="saveState($event)" (loadState)="loadState($event)"></app-toolbar>
		
		<app-check-content-types (nextStep)="nextStep($event)" [attr.hidden]="!canShowStep(1) ? 'true' : null"></app-check-content-types>

		<app-check-desired-compliance-level (nextStep)="nextStep($event)" [attr.hidden]="!canShowStep(2) ? 'true' : null"></app-check-desired-compliance-level>
		
		<app-toolbar *ngIf="currentStep == totalSteps" (saveState)="saveState($event)" (loadState)="loadState($event)"></app-toolbar>
		
		<app-notification></app-notification>
	</div>
	
	<div class="results">
		<app-guidelines [selectedContentTypes]="getSelectedContentTypes()" [guidelineLevel]="getSelectedGuidelineLevel()" [showGuidelines]="canShowResults()"></app-guidelines>
	</div>
</form>

<app-confirm (confirmation)="confirmModalAction($event)"></app-confirm>