body {
	margin: 0;
	background-color: #0070b0;
	color: #fff;
	font-family: Arial, Verdana, sans-serif;
	padding: 1em;
}
h1 {
	margin: 0;
}
.content-selection {
	max-width: 900px;
	margin: 1em 0;
}
.content-selection .content-selection-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	
}
.content-selection .content-selection-item {
	list-style: none;
	color: #fff;
	flex: 0 0 20%;
	margin: 1em .5em;
	text-align: center;
}
.content-selection input[type=checkbox],
.compliance-level input[type=radio] {
	position: absolute;
	opacity: 0;
}
.content-selection label {
	display: block;
	cursor: pointer;
	padding: 1em;
	border: 2px solid #eee;
	transition: all .25s ease-in;
}
.content-selection svg {
	stroke: #fff;
	stroke-width: 8;
	width: 85%;
	height: auto;
}
.content-selection svg .filled {
	fill: #fff;
	stroke-width: 0;
}

.content-selection input[type=checkbox]:checked ~ label {
	background-color: #eee;
	color: #0070b0;
}
.content-selection input[type=checkbox]:checked ~ label svg {
	stroke: #0070b0;
}
.content-selection input[type=checkbox]:checked ~ label .filled {
	fill: #0070b0;
}

.content-selection .content-selection-label {
	display: block;
	text-align: center;
}

.compliance-level {
	display: inline-block;
}
.compliance-level .compliance-level-list {
	display: flex;
}
.compliance-level label {
	width: 3em;
	height: 3em;
	border: 2px solid #eee;
	border-radius: 50%;
	margin-right: .5em;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all .25s ease-in;
}
.compliance-level input[type=radio]:checked + label {
	background-color: #eee;
	color: #0070b0;
}
